@model IEnumerable<ViewModel.Category.CategoryViewModel>
<table class="table table-striped table-bordered table-hover" id="table-products">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
            <th>
                Picture
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@Url.Action("GetImage", new {image_id = item.CategoryId})" style="width:100px; height:100px;">
                    @Html.NorthwindImageLink(item.CategoryId, "Image link")
                </td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.CategoryId })">
                        <button type="button" class="btn btn-primary btn-sm">
                            <i class="fas fa-pencil"></i>  Edit
                        </button>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Footer {
    <div class="container">
        <p class="text-warning">User can't edit 'Categories'</p>
    </div>
    
}
